 <section id="hero">
    <div class="hero-container">

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
   <div class="carousel-item active">
      <img src="~/images/carousel/slide-1.jpg" class="d-block w-100" alt="...">
      <h2 class="animate__animated animate__fadeInDown">Viaje para <span>Porto Seguro!</span></h2>
                <p class="animate__animated animate__fadeInUp">Uma das cidades mais animadas do Brasil.Praia, axé e um centro histórico encantador !</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Selecionar</a>
    </div>
    <div class="carousel-item">
      <img src="~/images/carousel/slide-2.jpg" class="d-block w-100" alt="...">
      <h2 class="animate__animated animate__fadeInDown">Rio de Janeiro</h2>
                <p class="animate__animated animate__fadeInUp"> Uma metrópole urbana movida pela cadência do samba. </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Selecionar</a>
    </div>
    <div class="carousel-item">
      <img src="~/images/carousel/slide-3.jpg" class="d-block w-100" alt="...">
      <h2 class="animate__animated animate__fadeInDown">Florianópolis</h2>
                <p class="animate__animated animate__fadeInUp"> Nomeada pela revista brasileira semanal Veja “o melhor lugar para se viver no Brasil”! </p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Selecionar</a>

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  </div>
  </section>


