<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:contact@example.com">agenciadeviagens@exemplo.com</a>
        <i class="bi bi-phone-fill phone-icon"></i> +99 99 99999-9999 
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a></li>
          <li><a class="nav-link scrollto active" href="#hero"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a></li>
          <li><a class="nav-link scrollto active" href="#hero"><span class="iconify" data-icon="mdi:instagram"></span></a></li>
          <li><a class="nav-link scrollto active" href="#hero"><span class="iconify" data-icon="entypo-social:linkedin-with-circle"></span></a></li>
            <ul>
    		<i class="bi bi-list mobile-nav-toggle"></i>
			
      </nav>
    </div>
  </section>

<partial name="_Carousel"/>